@media (max-width: 624px) {
	body {
		padding-top: 40px;
	}

	.l-filter-spacer {
		float: none;
		height: auto;
	}

/* ==========================================================================
	Header
	========================================================================== */

	.header-container {
		-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
		   -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
				box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
	}

	header h1 {
		margin: 8px 0;
		width: 240px;
		text-align: center;
	}

	.mobile-links {
		display: block;
	}

/* ==========================================================================
	Filters Pane
	========================================================================== */

	.filters {
		z-index: 500;
		background-color: rgba(22,22,22,0.8);
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		height: 0;
		padding: 0;
		opacity: 0;
	}

	.sort-radios {
		margin-bottom: 70px;
	}

	.filters .close-button {
		display: block;
	}

	.ui-slider-handle.ui-corner-all {
		width: 27px;
		height: 27px;
		margin-left: -13px;
		top: -7px;
		border-radius: 10px;
	}

	.slider {
		margin: 4px 0 5px;
	}

	.bubble-inner {
		-webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.9);
		   -moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.9);
				box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.9);
	}

/* ==========================================================================
	States
	========================================================================== */

	.is-invisible-mobile {
		visibility: hidden;
	}

	.is-revealed {
		height: 100%;
		padding: 12px 0;
		opacity: 1;
	}

	.is-not-scrollable {
		overflow: hidden;
	}

/* ==========================================================================
	Item Tiles
	========================================================================== */

	.items {
		padding: 3px 0;
	}

	.item-front {
		display: block;
		width: 131px;
		margin: 3px;
		padding: 6px 10px;
	}

	.item-front h3 {
		font-size: 0.9em;
	}

	/*
	 * Image Box
	 */

	.image-box {
		margin: 8px 0;
	}

	.item-front img {
		width: 62px !important;
		height: 62px !important;
	}

	 /*
	 * Score Box
	 */

	.score-box-front {
		margin: 11px 0 5px 13px;
		width: 56px;
		height: 48px;
		font-size: 2em;
		padding-top: 8px;
	}

/* ==========================================================================
	Shared Panel Styles
	========================================================================== */

	.panel-header {
		margin: 8px 35px 10px 0;
	}

	.panel h2 {
		font-size: 1.5em;
	}

/* ==========================================================================
	Item Reverse
	========================================================================== */

	.panel {
		padding: 0 0 5px 10px;
		width: 310px;
		margin-left: -160px;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	.item-back .artist-name {
		font-size: 1.2em;
	}

	.close-button {
		margin: 0;
		font-size: 1.8em;
		padding: 0 12px 0 0;
	}

	.is-flipped {
		top: 42px !important;
		height: 100%;
	}

	/*
	 * Left hand column
	 */

	 .box-column {
		float: left;
		width: auto;
		padding: 0 0 0 10px;
	}

	.score-box-back {
		margin: 5px 0 0 40px;
		float: right;
	}

	/*
	 * Right hand column
	 */

	.info-column {
		width: auto;
		padding: 3px 10px 0.3em 0;
	}

/* ==========================================================================
	Icon List
	========================================================================== */

	.icon-list {
		margin-bottom: 55px;
	}

	.icon-list li {
		width: 148px;
	}

/* ==========================================================================
	Info Panel
	========================================================================== */

	.modal-container {
		height: 100%;
		top: 42px;
	}

	.mugshot img {
		float: none;
		margin: 3px 50px 16px;
	}

	.modal p {
		padding: 0 10px 0 0;
	}
}

/* ==========================================================================
	iOS flip transition fixes
	========================================================================== */

/*
 * iPhone
 */

@media (width: 320px) {
	.is-flipped {
		left: 160px !important;
	}
}

@media (width: 480px) {
	.is-flipped {
		left: 240px !important;
	}
}

/*
 * iPad
 */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.is-flipped {
		left: 384px !important;
		top: 154px !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.is-flipped {
		left: 512px !important;
		top: 70px !important;
	}
}

/* ==========================================================================
	Genre Select - use native control on phones
	========================================================================== */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px),
	only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.filters select {
		clip: auto;
		position: absolute;
		width: 280px;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 0;
	}

	.filters .select2-container-multi .select2-choices .select2-search-choice {
		padding: 5px 5px 3px 5px;
	}

	.select2-search-choice a {
		display: none;
	}
}