/* ==========================================================================
   Shared Panel Styles
   ========================================================================== */

.panel {
	position: absolute;
	background-color: #222;
	border: 1px solid #292929;
	padding: 0 0 20px 30px;

	width: 498px;
	margin-left: -265px;

	-webkit-box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 1);
	   -moz-box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 1);
			box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 1);
}

.panel-header {
	margin: 20px 30px 15px 0;
}

.panel-header a:hover {
	color: #eee;
}

.panel p {
	margin: 0 0 0.8em 0;
}

.panel h2 {
	font-family: 'RobotoBold', 'Arial', sans-serif;
	font-size: 1.8em;

	text-shadow: 0 2px 2px rgba(0,0,0,0.5);

	display: inline;
}

.panel h3 {
	float: left;
	margin: 0 0.5em 0 0;
	font-size: 1em;
	font-weight: normal;
	color: #727272;
}

/*
 *	Close Button
 */

.close-button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	font-size: 1.5em;
	margin: 3px;
	padding: 1px 6px;

	text-shadow: 0 1px 0 black;

	color: #727272;

	-webkit-appearance: none;
	   -moz-appearance: none;
}

.close-button:hover {
	color: #ccc;
}

/* ==========================================================================
   Item Reverse
   ========================================================================== */

.item-back {
	display: none;
	position: absolute;
	top: 0;
}

.item-back .artist-name {
	font-size: 1.4em;
}

.title-spacer {
	display: inline-block;
	margin: 0 4px 0 5px;
	color: #727272;
}

/*
 *	Left hand column
 */

.box-column {
	float: left;
	width: 125px;
}

.box-column .image-box {
	margin: 0 0 10px 0;
}

.score-box-back {
	margin: 15px 0 0 5px;
	width: 88px;
	height: 88px;
}

.score-value {
	font-family: 'RobotoBlack', 'Arial', sans-serif;
	font-size: 3em;
	margin-top: 5px;
}

.score-total {
	font-size: 0.7em;
	margin-top: -11px;
}

/*
 *	Right hand column
 */

.info-column {
	float: left;
	width: 338px;
	padding: 3px 30px 0.3em 5px;
}

/* ==========================================================================
   Info Panel
   ========================================================================== */

.modal-container {
	display: none;
	position: fixed;
	top: 70px;
	left: 50%;
	z-index: 1045;

	-webkit-perspective: 600px;
	   -moz-perspective: 600px;
			perspective: 600px;

	-webkit-perspective-origin: center 0;
	   -moz-perspective-origin: center 0;
			perspective-origin: center 0;
}

.modal {
	top: 0;     /* Fix for IE10 */
}

.modal p {
	padding: 0 30px 0 0;
	line-height: 1.3em;
}

/*
 *	Polaroid Mugshot
 */

.mugshot img {
	float: right;
	background-color: #e8e9eb;
	padding: 13px 13px 44px 13px;
	margin: -20px 33px 16px 16px;
	border: 1px solid #bbb;

	box-shadow: 4px 5px 15px rgba(0,0,0, .8);

	-webkit-transform: rotate(2deg);
	   -moz-transform: rotate(2deg);
		 -o-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
			transform: rotate(2deg);

	-webkit-transition: all .15s ease-in-out;
	   -moz-transition: all .15s ease-in-out;
		 -o-transition: all .15s ease-in-out;
			transition: all .15s ease-in-out;
}

.mugshot:hover img {
	-webkit-transform: rotate(-2deg);
	   -moz-transform: rotate(-2deg);
		 -o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
			transform: rotate(-2deg);
}

/* ==========================================================================
   Icon List
   ========================================================================== */

.icon-list {
	width: inherit;
	float: left;
	clear: both;
	margin-top: 0.2em;
	list-style-type: none;
	padding-left: 4px;
	line-height: 1.7em
}

.icon-list li {
	float: left;
	width: 166px;
	background-repeat: no-repeat;
	background-position: 0 4px;
}

.icon {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
	background-image: url(../images/sprite-icons.png);
	background-position: 0px 0;
}

.icon-itunes {
	background-position: -16px 0;
}

.icon-google-play {
	background-position: -32px 0;
}

.icon-last-fm {
	background-position: -48px 0;
}

.icon-spotify {
	background-position: -64px 0;
}

.icon-grooveshark {
	background-position: -80px 0;
}

.icon-rdio {
	background-position: -96px 0;
}

.icon-knockout {
	background-position: -192px 16px;
}

.icon-isotope {
	background-position: -144px 16px;
}

.icon-jquery {
	background-position: -160px 16px;
}

.icon-jqueryui {
	background-position: -176px 16px;
}

.icon-html5 {
	background-position: -112px 16px;
}

.icon-css3 {
	background-position: -80px 16px;
}

.icon-modernizr {
	background-position: 0 16px;
}

.icon-mongodb {
	background-position: -16px 16px;
}

.icon-node {
	background-position: -32px 16px;
}

.icon-require {
	background-position: -48px 16px;
}

.icon-select2 {
	background-position: -64px 16px;
}

.icon-heroku {
	background-position: -96px 16px;
}

/* ==========================================================================
   Overlay
   ========================================================================== */

.overlay {
	display: none;
	position: fixed;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: black;
	opacity: 0;

	-webkit-transition: opacity 0.15s linear;
	   -moz-transition: opacity 0.15s linear;
		 -o-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
}

.is-semitransparent {
	opacity: 0.85;
}
